:root {

    --crim: crimson;
    --orch: orchid;

}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {

    color: white;
    text-align: center;
    font-family: "Raleway";

}

body{

    background-color: black;

}

#main_container {

    padding: 20px;
    /* border: 1px solid goldenrod; */
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    align-items: center;
    height: 100vh;

}

.titre_index{

    font-family: "Raleway";
    font-size: 60px;
    color: white;
    word-wrap: unset;
    word-break: keep-all;
    overflow-wrap: unset;

}


.tooltip-container {

    width: 6vh;
    height: 6vh;
    margin-top: 40px;
    gap: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: width 0.9s ease-in-out; /* Transition fluide */
    cursor: pointer;

}

.tooltip-container.expanded {

    width: 55vh;

}



.pulse_icon {

    height: 50px;
    width: 50px;
    top: 26vh;
    margin: auto;
    position: absolute;
    border: 1px solid var(--crim);
    border-radius: 50%;
    color: var(--crim);
    background-color: black;
    font-size: 30px;
    display: grid;
    place-items: center;
    opacity: 1;

}

.pulse_icon:before, .pulse_icon:after {

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--crim);
    border-radius: 50%;
    z-index: -1;
    
}

.pulse_icon:before {

    animation: pulse 0.8s ease-out infinite;

}

.pulse_icon:after {

    animation: pulse 0.8s 0.55s ease-out infinite;
    
}

@keyframes pulse {

    100% {

        transform: scale(2.5);
        opacity: 0;

    }

}


.tooltip-text {

    opacity: 0.2;
    padding-left: 62px;
    color: var(--crim);
    font-family: "Nunito Sans";
    font-size: 30px;
    font-style: italic;
    letter-spacing: 3px;
    padding-top: 5px;
    hyphens: auto;
    word-break: break-all;
    transition: opacity 0.8s ease-out;

}

.tooltip-text.hideseek {
    opacity: 1;
}


.morphtext_container {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* flex-direction: column; */
    /* position: relative; */
    /* border: 1px solid red; */


}


.morph_text {

    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;

}

.morphtext_01 {


    
}

.morphtext_02 {


}

.morph_text_03 {


}

#intro_form {

    height: 35vh;
    /* border: solid 1px greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:60px;

}

#openinput{

    height: 90px;
    align-items: center;
    text-align: center;
    text-decoration:solid white;
    outline: none;
    background-color: unset;
    /* border-style: none; */
    color: var(--crim);
    font-family: "Funnel Display";
    font-size: 40px;
    letter-spacing: 10px;
    border: 1px var(--crim) solid;
    border-radius: 5px;
    width: 50%;

}


.primebutton {

    width: 20vh;
    align-items: center;
    padding: 7px 20px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: transparent;
    color: var(--crim);
    border: 1px solid var(--crim);

}


button a {

    text-decoration: none;

}

.primebutton:hover {

    color: white;
    background-color: var(--crim);
    box-shadow: 0 0 85px var(--crim);
    transition: 0.3s ease-in-out;

}

.primebutton:active {
    background-color: unset;
    color: rgb(255, 35, 109);
    transform: translateY(2px);
    box-shadow: 0 0 190px 10px var(--orch);
    transition: 0.3ms;
}

form {
    
    /* border: 1px solid yellow; */
}



/*
.primebutton a{
    color: black;
    text-decoration: none;
}
*/

/*.primebutton a:hover {
    color: white;
}
*/

h2 span {
    animation: shuffle steps(20) 3s infinite;

}

@keyframes shuffle {
    0%{
        transform: translateY(0px)
    }
    
    100%{
        transform: translateY(-1200px)
    }
}

h2:hover span {
    animation: backwards steps(1) linear 2s;
    animation-timing-function: ease-out;

}
/******************************************************* SETUP BUTTON ************************************************************

button:before, ::after {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/*https://codepen.io/flyingcar/pen/yMpLqx - Liste d'effet "HOVER"

#enter_button{
    position:absolute;
    align-items: center;
    bottom: 80px;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

button:before {
    color: rgb(255, 0, 0);
    content: '[';
    font-size: 50px;
    opacity: 0;
    position: absolute;
    left: 30px;
    top: -15px;
}

button:after {
    color: rgb(255, 0, 0);
    content: ']';
    font-size: 50px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: -15px;
}

button:hover:before {
    left: -10px;
    opacity: 1;
}

button:hover:after {
    opacity: 1;
    right: -10px;
}	

button:hover {
    background: transparent;
}

/******************************************************* SETUP BUTTON *************************************************************/





