*{
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainbloc{
    /* border: 1px solid red; */
}

.BG{
    position: fixed;
}

.Elliot{
    width: 80%;
    position: fixed;
    top: 18%;
    left: 10%;
}

.scrolltext{
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.txt{
    font-size: 250px;
    white-space: nowrap;
    animation: scrollTxt 3s linear infinite;

}

@keyframes scrollTxt {
    0%{
        transform: translate(0, 0);
    }
    100%{ 
        transform: translate(-100%, 0);
    }
}



/*
span{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
*/
