*{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    position: relative;
}

.BG{
    width: 100%;

}

.BG img{
    vertical-align: top;

}

.scrolltext{
    position: absolute;
    display: flex;
    top:50%;
    left:1px;
    border: solid red 1px;
}

.txt{
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}
/*
span{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
*/
